<a href="https://colab.research.google.com/github/Hareni1103/Classification/blob/main/Ensemble_Finance_project_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/application_record.csv")
df

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438552,6840104,M,N,Y,0,135000.0,Pensioner,Secondary / secondary special,Separated,House / apartment,-22717,365243,1,0,0,0,NaN,1.0
438553,6840222,F,N,N,0,103500.0,Working,Secondary / secondary special,Single / not married,House / apartment,-15939,-3007,1,0,0,0,Laborers,1.0
438554,6841878,F,N,N,0,54000.0,Commercial associate,Higher education,Single / not married,With parents,-8169,-372,1,1,0,0,Sales staff,1.0
438555,6842765,F,N,Y,0,72000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-21673,365243,1,0,0,0,NaN,2.0
438556,6842885,F,N,Y,0,121500.0,Working,Secondary / secondary special,Married,House / apartment,-18858,-1201,1,0,1,0,Sales staff,2.0

In [ ]:
df1=pd.read_csv("/content/drive/MyDrive/credit_record.csv")
df1

              ID  MONTHS_BALANCE STATUS
0        5001711               0      X
1        5001711              -1      0
2        5001711              -2      0
3        5001711              -3      0
4        5001712               0      C
...          ...             ...    ...
1048570  5150487             -25      C
1048571  5150487             -26      C
1048572  5150487             -27      C
1048573  5150487             -28      C
1048574  5150487             -29      C

[1048575 rows x 3 columns]

In [ ]:
data=pd.merge(df,df1,on="ID")
data

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,MONTHS_BALANCE,STATUS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,0,C
1,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,-1,C
2,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,-2,C
3,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,-3,C
4,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,-4,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777710,5150337,M,N,Y,0,112500.0,Working,Secondary / secondary special,Single / not married,Rented apartment,-9188,-1193,1,0,0,0,Laborers,1.0,-9,0
777711,5150337,M,N,Y,0,112500.0,Working,Secondary / secondary special,Single / not married,Rented apartment,-9188,-1193,1,0,0,0,Laborers,1.0,-10,2
777712,5150337,M,N,Y,0,112500.0,Working,Secondary / secondary special,Single / not married,Rented apartment,-9188,-1193,1,0,0,0,Laborers,1.0,-11,1
777713,5150337,M,N,Y,0,112500.0,Working,Secondary / secondary special,Single / not married,Rented apartment,-9188,-1193,1,0,0,0,Laborers,1.0,-12,0
777714,5150337,M,N,Y,0,112500.0,Working,Secondary / secondary special,Single / not married,Rented apartment,-9188,-1193,1,0,0,0,Laborers,1.0,-13,0

In [ ]:
data.isnull().sum()

ID                          0
CODE_GENDER                 0
FLAG_OWN_CAR                0
FLAG_OWN_REALTY             0
CNT_CHILDREN                0
AMT_INCOME_TOTAL            0
NAME_INCOME_TYPE            0
NAME_EDUCATION_TYPE         0
NAME_FAMILY_STATUS          0
NAME_HOUSING_TYPE           0
DAYS_BIRTH                  0
DAYS_EMPLOYED               0
FLAG_MOBIL                  0
FLAG_WORK_PHONE             0
FLAG_PHONE                  0
FLAG_EMAIL                  0
OCCUPATION_TYPE        240048
CNT_FAM_MEMBERS             0
MONTHS_BALANCE              0
STATUS                      0
dtype: int64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 777715 entries, 0 to 777714
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   777715 non-null  int64
 1   CODE_GENDER          777715 non-null  object
 2   FLAG_OWN_CAR         777715 non-null  object
 3   FLAG_OWN_REALTY      777715 non-null  object
 4   CNT_CHILDREN         777715 non-null  int64
 5   AMT_INCOME_TOTAL     777715 non-null  float64
 6   NAME_INCOME_TYPE     777715 non-null  object
 7   NAME_EDUCATION_TYPE  777715 non-null  object
 8   NAME_FAMILY_STATUS   777715 non-null  object
 9   NAME_HOUSING_TYPE    777715 non-null  object
 10  DAYS_BIRTH           777715 non-null  int64
 11  DAYS_EMPLOYED        777715 non-null  int64
 12  FLAG_MOBIL           777715 non-null  int64
 13  FLAG_WORK_PHONE      777715 non-null  int64
 14  FLAG_PHONE           777715 non-null  int64
 15  FLAG_EMAIL           777715 non-null  int64
 16  OCCUPATION_TYPE      537667 non-null  object
 17  CNT_FAM_MEMBERS      777715 non-null  float64
 18  MONTHS_BALANCE       777715 non-null  int64
 19  STATUS               777715 non-null  object
dtypes: float64(2), int64(9), object(9)
memory usage: 118.7+ MB

In [ ]:
data.drop(["OCCUPATION_TYPE"],axis=1,inplace=True)

In [ ]:
data.isnull().sum()

ID                     0
CODE_GENDER            0
FLAG_OWN_CAR           0
FLAG_OWN_REALTY        0
CNT_CHILDREN           0
AMT_INCOME_TOTAL       0
NAME_INCOME_TYPE       0
NAME_EDUCATION_TYPE    0
NAME_FAMILY_STATUS     0
NAME_HOUSING_TYPE      0
DAYS_BIRTH             0
DAYS_EMPLOYED          0
FLAG_MOBIL             0
FLAG_WORK_PHONE        0
FLAG_PHONE             0
FLAG_EMAIL             0
CNT_FAM_MEMBERS        0
MONTHS_BALANCE         0
STATUS                 0
dtype: int64

In [ ]:
data["STATUS"].unique()

array(['C', '1', '0', 'X', '5', '4', '3', '2'], dtype=object)

In [ ]:
data.duplicated().sum()

0

In [ ]:
data["target"]=data["STATUS"]
data["target"].replace("X",0,inplace=True)
data["target"].replace("C",0,inplace=True)
data["target"]=data["target"].astype(int)
data.loc[data["target"]>=1,"target"]=1

In [ ]:
data.drop(["STATUS"],axis=1,inplace=True)

In [ ]:
data.drop(["FLAG_MOBIL"],axis=1,inplace=True)

In [ ]:
data.head(5)

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,MONTHS_BALANCE,target
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,0,0,2.0,0,0
1,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,0,0,2.0,-1,0
2,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,0,0,2.0,-2,0
3,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,0,0,2.0,-3,0
4,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,0,0,2.0,-4,0

In [ ]:
data["AGE_YEARS"]=round(-data["DAYS_BIRTH"]/365,0)
data["AGE_YEARS"]

0         33.0
1         33.0
2         33.0
3         33.0
4         33.0
          ...
777710    25.0
777711    25.0
777712    25.0
777713    25.0
777714    25.0
Name: AGE_YEARS, Length: 777715, dtype: float64

In [ ]:
data.drop(['DAYS_BIRTH'],axis=1,inplace=True)

In [ ]:
data.columns

Index(['ID', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN',
       'AMT_INCOME_TOTAL', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'DAYS_EMPLOYED',
       'FLAG_WORK_PHONE', 'FLAG_PHONE', 'FLAG_EMAIL', 'CNT_FAM_MEMBERS',
       'MONTHS_BALANCE', 'target', 'AGE_YEARS'],
      dtype='object')

In [ ]:
data['DAYS_EMPLOYED']=round(-data['DAYS_EMPLOYED']/365,0)
data.loc[data["DAYS_EMPLOYED"]<0,"DAYS_EMPLOYED"]=0

In [ ]:
data["DAYS_EMPLOYED"].unique()

array([12.,  3.,  8.,  0.,  2.,  4.,  6.,  9., 19., 15.,  5., 13.,  7.,
       17., 30., 16., 11.,  1., 10., 24., 14., 25., 20., 27., 18., 21.,
       23., 22., 28., 39., 32., 33., 37., 26., 38., 31., 29., 35., 34.,
       41., 40., 36., 42., 43.])

In [ ]:
data['MONTHS_BALANCE']=round(-data['MONTHS_BALANCE'])
data['MONTHS_BALANCE']

0          0
1          1
2          2
3          3
4          4
          ..
777710     9
777711    10
777712    11
777713    12
777714    13
Name: MONTHS_BALANCE, Length: 777715, dtype: int64

In [ ]:
data.head(5)

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_EMPLOYED,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS,MONTHS_BALANCE,target,AGE_YEARS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,12.0,1,0,0,2.0,0,0,33.0
1,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,12.0,1,0,0,2.0,1,0,33.0
2,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,12.0,1,0,0,2.0,2,0,33.0
3,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,12.0,1,0,0,2.0,3,0,33.0
4,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,12.0,1,0,0,2.0,4,0,33.0

In [ ]:
corr=data.corr()
corr

ValueError: could not convert string to float: 'M'

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:

plt.figure(figsize=(15,9))
sns.heatmap(corr,annot=True,cmap="coolwarm")

In [ ]:
data.info()

In [ ]:
plt.figure(figsize=(10,10))

cols_to_plot=["CNT_CHILDREN","AMT_INCOME_TOTAL","AGE_YEARS","DAYS_EMPLOYED"]
data[cols_to_plot].hist(edgecolor="black",linewidth=1.2)

fig=plt.gcf()
fig.set_size_inches(12,6)

In [ ]:
ig, axes = plt.subplots(1,2)
g1 = sns.countplot(y=data.NAME_INCOME_TYPE,linewidth=1.2,ax=axes[0])
g1.set_title("customer Distribution by \n Income Type")
#g1.set_xlebel("count")
g2=sns.countplot(y=data.NAME_FAMILY_STATUS,linewidth=1.2,ax=axes[1])
g2.set_title("customer Distribution by \n Family status")
#g2.set_xleabel ("'count")
fig.set_size_inches(14,5)

In [ ]:
data.drop(['CNT_CHILDREN','FLAG_WORK_PHONE','FLAG_PHONE','FLAG_EMAIL','CNT_FAM_MEMBERS'],axis=1,inplace=True)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

for i in data.select_dtypes(include='object'):
  data[i]=le.fit_transform(data[i])

In [ ]:
data.head(5)

In [ ]:
data.columns

In [ ]:
from sklearn.model_selection import train_test_split
x=data.drop('target',axis=1)
y=data['target']
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,random_state=42)

# **BOOSTING**

In [ ]:
import xgboost as xgb
xgboost_model=xgb.XGBClassifier()
#train the model
xgboost_model.fit(x_train,y_train)

#make prediction
xgboost_predictions=xgboost_model.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

xg_accuracy=accuracy_score(y_test,xgboost_predictions)
conf_matrix=confusion_matrix(y_test,xgboost_predictions)
classification_rep=classification_report(y_test,xgboost_predictions)
print(f"accuracy:{xg_accuracy}")
print(f"conf_matrix:{conf_matrix}")
print(f"classification_rep:{classification_rep}")

In [ ]:
from sklearn.ensemble import AdaBoostClassifier

adamodel=AdaBoostClassifier(n_estimators=50,learning_rate=0.01)
model=adamodel.fit(x_train,y_train)
adamodel_pred=model.predict(x_test)

In [ ]:
ada_accuracy=accuracy_score(y_test,adamodel_pred)
conf_matrix=confusion_matrix(y_test,adamodel_pred)
classification_rep=classification_report(y_test,adamodel_pred)
print(f"accuracy:{ada_accuracy}")
print(f"conf_matrix:{conf_matrix}")
print(f"classification_rep:{classification_rep}")

In [ ]:
pip install catboost

In [ ]:
from catboost import CatBoostClassifier

#create catboost regressor
catboost_model=CatBoostClassifier(iterations=100,depth=6,learning_rate=0.1)

#train the model
catboost_model.fit(x_train,y_train)

#make predictions
catboost_predictions=catboost_model.predict(x_test)

In [ ]:
cat_accuracy=accuracy_score(y_test,catboost_predictions)
conf_matrix=confusion_matrix(y_test,catboost_predictions)
classification_rep=classification_report(y_test,catboost_predictions)
print(f"accuracy:{cat_accuracy}")
print(f"conf_matrix:{conf_matrix}")
print(f"classification_rep:{classification_rep}")

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

#create gradient boosting regressor
gradient_boosting_model=GradientBoostingClassifier()

#train the model
gradient_boosting_model.fit(x_train,y_train)

#make predictions
gradient_boosting_predictions=gradient_boosting_model.predict(x_test)

In [ ]:
gradient_accuracy=accuracy_score(y_test,gradient_boosting_predictions)
conf_matrix=confusion_matrix(y_test,gradient_boosting_predictions)
classification_rep=classification_report(y_test,gradient_boosting_predictions)
print(f"accuracy:{gradient_accuracy}")
print(f"conf_matrix:{conf_matrix}")
print(f"classification_rep:{classification_rep}")

# **SUPPORT VECTOR**

In [ ]:
from sklearn.svm import SVC
classifier=SVC(kernel='rbf',gamma=0.1,C=1)
classifier.fit(x_train,y_train)

y_pred=classifier.predict(x_test)

In [ ]:
svc_accuracy=accuracy_score(y_test,y_pred)
conf_matrix=confusion_matrix(y_test,y_pred)
classification_rep=classification_report(y_test,y_pred)
print(f"accuracy:{svc_accuracy}")
print(f"conf_matrix:{conf_matrix}")
print(f"classification_rep:{classification_rep}")

# **K-NEAREST NEIGHBORS**

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
import numpy as np
model_knn=KNeighborsClassifier(n_neighbors=int(np.sqrt(len(x_train))),metric="euclidean")
model_knn.fit(x_train,y_train)
y_pred_1=model_knn.predict(x_test)

In [ ]:
knn_accuracy=accuracy_score(y_test,y_pred_1)
conf_matrix=confusion_matrix(y_test,y_pred_1)
classification_rep=classification_report(y_test,y_pred_1)
print(f"accuracy:{knn_accuracy}")
print(f"conf_matrix:{conf_matrix}")
print(f"classification_rep:{classification_rep}")

In [ ]:
from sklearn.linear_model import LogisticRegression
log_reg=LogisticRegression()
log_reg.fit(x_train,y_train)
y_pred_3=log_reg.predict(x_test)

In [ ]:
log_accuracy=accuracy_score(y_test,y_pred_3)
conf_matrix=confusion_matrix(y_test,y_pred_3)
classification_rep=classification_report(y_test,y_pred_3)
print(f"accuracy:{log_accuracy}")
print(f"conf_matrix:{conf_matrix}")
print(f"classification_rep:{classification_rep}")

In [ ]:
accuracy={
    "algorithm":["XG BOOST","ADA_BOOST","CAT_BOOST","GRADIENT_BOOST","KNN"],
    "Accuracy":[xg_accuracy,ada_accuracy,cat_accuracy,gradient_accuracy,knn_accuracy]
}

accuracy_score=pd.DataFrame(accuracy)
accuracy_score